<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup>
  <appSettings>
    <add key="remoteAppURL" value="http://localhost/AutoUpdate/"/>
    <add key="remoteVersionName" value="updateVersion.txt"/>
    <add key="localAppURL" value="D:\\VersionsTest\\Downloads\\"/>
    <add key="localVersionName" value="version.txt"/>
  </appSettings>
</configuration>
